{config_load file="$language/template_lang_$language.conf" section="call_back"}
{literal}
<style type="text/css">body {background:#fff;}</style>
<script type="text/javascript">
$(function($){

    $('.form-anti-bot, .form-anti-bot-2').hide(); // hide inputs from users
    var answer = $('.form-anti-bot input#anti-bot-a').val(); // get answer
    $('.form-anti-bot input#anti-bot-q').val( answer ); // set answer into other input

    if ( $('form#ask_a_question input#anti-bot-q').length == 0 ) {
        var current_date = new Date();
        var current_year = current_date.getFullYear();
        $('form#ask_a_question').append('<input type="hidden" name="anti-bot-q" id="anti-bot-q" value="'+current_year+'" />'); // add whole input with answer via javascript to form
    }

});
</script>
{/literal}

{$FORM_ACTION}

<div id="content">
<h1 class="popup-title">
<a href="#" onclick="parent.jQuery.colorbox.close()" class="popup-close"><i class="fa fa-times" aria-hidden="true"></i></a>
{#heading_title#}
</h1>
<div class="popup-content callback-content">
<!-- форма -->
<fieldset class="form">
{if $error!=''}<div class="contacterror">{$error}</div>{/if}
<div class="popup-input-wrap"><label>{#text_firstname#}</label> {$INPUT_FIRSTNAME}</div>
<div class="popup-input-wrap"><label>{#text_phone#}</label> {$INPUT_PHONE}</div>
<div class="popup-input-wrap"><label>{#text_message#}</label> {$INPUT_TEXT}</div>
</fieldset>
</div>
<div class="form-anti-bot" style="clear:both;">
<strong>Current <span style="display:none;">month</span> <span style="display:inline;">ye@r</span> <span style="display:none;">day</span></strong> <span class="required">*</span>
<input type="hidden" name="anti-bot-a" id="anti-bot-a" value="{$smarty.now|date_format:"%Y"}" />
<input type="text" name="anti-bot-q" id="anti-bot-q" size="30" value="19" />
</div>
<div class="form-anti-bot-2" style="display:none;">
<strong>Leave this field empty</strong> <span class="required">*</span>
<input type="text" name="anti-bot-e-email-url" id="anti-bot-e-email-url" size="30" value=""/>
</div>
<!-- /форма -->

<div class="popup-footer">{$BUTTON_SUBMIT}</div>
</div>
{$FORM_END}
